{% extends 'e_lib/base.html' %}
{% load static %}


    {% block content %}

<div class="col-8 mt-3 mb-5 mx-auto">
    <form  class="form-inline justify-content-center" action="results/" method="get">
        <input type="text" name="q">
        <button type="submit" class="btn btn-outline-success" style="margin-left: 10px;">Pretraga</button>
    </form>
</div>

<div class="container h-75" style="margin-top: 20px;">
    <div class="row h-100">
        <div class=" col-sm h-100" style="margin-right: 50px; overflow: auto;">
            <ul>
                {% for main_folder in main_folders %}
                    {% for folder in main_folder %}
                        {% if folder.Link == None %}
                            <li class="btn" data-id="{{ folder.Book_id }}"><i class="fas fa-folder closed" style=" margin-right: 15px;"></i><i class="fas fa-folder-open open" style="margin-right: 15px;"></i>{{ folder.Name }}</li><br>
                       
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 h-100" style="overflow: auto;">
            <ul>
                {% for main_folder in main_folders %}
                    {% for folder in main_folder %}
                        {% if folder.Link != None %}
                       
                            <li class="btn" data-id="{{ folder.Book_id }}"><a href="{{ folder.Link }}">{{ folder.Name }}</a></li><br>  
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

    {% endblock content %}
    
   <!--  <button id="button">Get Text File</button>	

    <script>
    	// Create Event listener
    	document.getElementById('button').addEventListener('click', loadText);

    	function loadText(){
    		//Create XHR object
    		var xhr = new XMLHttpRequest();
    		// OPEN - type, url/file, async	
    		// console.log(xhr)
    		xhr.open('GET', '', true);
    		xhr.onload = function(){
    			if(this.status == 200) {
    				// console.log(this.responseText);
    				document.getElementById('text').innerHTML = this.responseText;
    			}
    		}
    		//Sends request
    		xhr.onerror = function() {
    			document.getElementById('text').innerHTML = "Not found";
    		}

    		xhr.send();
    	}
    </script> -->


