
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>M</title>
</head>
<body>

<h1>Sadržaj drive-a/folder: M</h1><hr><br>

{% for folder in folders %}
    <p>{{ folder.Name }}</p>
{% endfor %}

<!-- <div><a href='{% url "folders" 'Celestinsko_prorocanstvo.html' %}'>Celestinsko proročanstvo</a><br>
<a href='{% url "folders" 'Ivona_Živković.html' %}'>Ivona Živković</a><br>
<a href='{% url "folders" 'Magija.html' %}'>Magija</a><br>
<a href='{% url "folders" 'NLO_Ufos_tk_vanzemaljci_9_11.html' %}'>NLO, Ufos, vanzemaljci, 9 11</a><br>
<a href='{% url "folders" 'Rubbish.html' %}'>Rubbish</a><br>
<a href='{% url "folders" 'Tajne_novinski_članci.html' %}'>Tajne - novinski članci</a><br>
<br> -->
</body>
</html>